@use '../base' as *;

.hero {
  // background-color: transparent;
  // background-image: url(/assets/home/mobile/image-header.jpg);
  // color: $clr-main-black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 90vh;
  text-align: center;
  display: grid;
  place-content: center;
  grid-template-columns: 300px;
  // animation: heroAnimation 10s steps(1) infinite;
  position: relative;
  h1,
  p {
    padding-top: 25px;
  }

  button {
    margin-top: 20px;
  }

  & > .active-two {
    color: black;
  }

  

}


.credit-button {
  position: relative;
  height: 30px;
  background-color: white;
}

.hero-copyright {
  z-index: 10;
  h3{
    margin-bottom: 20px;
  }
  background-color: $clr-main-warm;
  position: absolute;
  bottom: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  padding: 20px;
  a {
    color: black;
  }
}

.hide {
  display: none;
}

.slide {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 bottom:0;
 left: 0;
 right: 0;
z-index: -1;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
text-align: center;
display: grid;
place-content: center;
}

.slide-one {
  background-image: url(/assets/hero-slider/mobile/sebastian-banasiewcz-oXXc-s5nNy8-unsplash.jpg);
}

.slide-two {
  background-image: url(/assets/hero-slider/mobile/adrian-korte-5gn2soeAc40-unsplash.jpg);
}


.slide-three {
  background-image: url(/assets/hero-slider/mobile/kiran-ck-RZmiDOpv1lM-unsplash.jpg);
}

.slider-buttons {
  margin-top: 10px;
}

.slider-buttons {
  filter: drop-shadow(  0px 2px rgba(0, 0, 0, 1));
  cursor: pointer;
}

.lightText {
  color: white;
}

.darkText {
  color: black;
}

.active {
  display: grid;
}

.inactive {
  display: none;
}

// @keyframes heroAnimation {
//   0% {
//     background-image: url(/assets/hero-slider/mobile/sebastian-banasiewcz-oXXc-s5nNy8-unsplash.jpg);
//     color: $clr-secondary-white;
//     }

//   30% {
//     background-image: url(/assets/hero-slider/mobile/adrian-korte-5gn2soeAc40-unsplash.jpg);
//     color: $clr-main-black;
//   }

//   65% {
//     background-image: url(/assets/hero-slider/mobile/kiran-ck-RZmiDOpv1lM-unsplash.jpg);
//     color: $clr-main-black;
//   }

//   100% {
//     background-image: url(/assets/hero-slider/mobile/sebastian-banasiewcz-oXXc-s5nNy8-unsplash.jpg);
//     color: $clr-secondary-white;
//   }
// }




@media only screen and (min-width: 750px) {
  .hero {
    // background-image: url(/assets/home/tablet/image-header.jpg);
    grid-template-columns: 450px;
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    // background-image: url(/assets/home/desktop/image-hero.jpg);
    place-content: center left;
    text-align: left;
    padding-left: 5em;
  }
}

@media only screen and (min-width: 1400px) {
  .hero {
    padding-left: 10em;
  }
}
