@use '../base' as *;

nav {
  li {
    list-style-type: none;
    position: relative;
  }
  a {
    text-decoration: none;
    color: $clr-secondary-white;
    z-index: 1;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 1px;
      color: transparent;
      background: $clr-main-warm;
      visibility: none;
      opacity: 0;
      z-index: -1;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
     height: 100%;
     transition: all .3s ease-out;
    }
  }
}
