$clr-main-warm: #b9581f;
$clr-main-black: #101010;
$clr-main-grey: #efefef;
$clr-main-light-grey: #fafafa;

$clr-secondary-warm: #fbaf85;
$clr-secondary-white: #ffffff;
$clr-secondary-black: #4c4c4c;

$clr-red: #cd2c2c;
$clr-shadow-background: #979797b7;
